<!DOCTYPE html>
<html ng-app="app">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <style>
    .valid { border:2px solid green; }
    .invalid { border:2px solid red; }
  </style>
</head>

<body ng-controller="ctrl">

<form name="f">
  Name:
  <input type="text" name="n" ng-model="u.name"
         ng-class="f.n.$valid?'valid':'invalid'" required><br><br>

  Email:
  <input type="email" name="e" ng-model="u.email"
         ng-class="f.e.$valid?'valid':'invalid'" required><br><br>

  <button ng-click="submit()">Submit</button>
</form>

<p>{{msg}}</p>

<script>
angular.module("app",[])
.controller("ctrl", function($scope){
  $scope.submit = function(){
    $scope.msg = $scope.f.$valid ? "Success!" : "Fill correctly";
  };
});
</script>

</body>
</html>
