<!DOCTYPE html>
<html ng-app="app">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
<style>
.valid{border:2px solid green;}
.invalid{border:2px solid red;}
</style>
</head>

<body ng-controller="c">

<form name="f">
Name:
<input type="text" name="n" ng-model="j.name"
       ng-class="f.n.$valid?'valid':'invalid'" required><br><br>

Email:
<input type="email" name="e" ng-model="j.email"
       ng-class="f.e.$valid?'valid':'invalid'" required><br><br>

Position Applied:
<input type="text" name="p" ng-model="j.position"
       ng-class="f.p.$valid?'valid':'invalid'" required><br><br>

Experience:
<input type="number" name="x" ng-model="j.exp"
       ng-class="f.x.$valid?'valid':'invalid'" min="0" required><br><br>

<button ng-click="sub()">Submit</button>
</form>

<p>{{msg}}</p>

<script>
angular.module("app",[])
.controller("c",function($scope){
  $scope.sub=function(){
    $scope.msg=$scope.f.$valid?"Submitted!":"Fill correctly";
  };
});
</script>

</body>
</html>
